body{
    padding-top: 150px;
    background-color: rgb(38, 49, 66);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

form{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
.regist input{
    color: white;
    width: 90%;
    height: 35px;
    background-color: rgb(50,66,91);
    border: 2px solid rgb(77,93,118);
}
label{
    color:rgb(238,251,255);
    margin: 15px;
    margin-bottom: 5px;
    margin-left: 0px;
}
.logo{
    z-index: 2;
    width: 400px;
    height: 600px;
    background: linear-gradient(to top , rgb(159,254,210),rgb(45,213,230));
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);

}
.regist{
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: rgb(50,66,91);
}
.nregist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.regist h2{
    color:rgb(238,251,255);
    margin-top: 45px;
}
.regist p{
    color: rgb(93,174,177);
}
.regist button{
    width: 334px;
    height: 45px;
    background-color: #5bc9c5;
    margin-left: 15px;
    margin-right: 15px;
    margin: top;
    margin-top: 40px;
    color: white;
}

.Check{
    position: absolute;
    display: none;

}
.checkbox{
    position: absolute;
    width: 1em;
    height: 1em;
    background-image: url(/css/img/icons8-пустой-чекбокс-50.png)
}
.snow {

    padding: 0;
    margin-top: -15px;
    position: absolute;
    top: 0;
    left: 0;;
    z-index: 1;
    position: absolute;  
    width: 10px;
    height: 10px;
    opacity: 0.8917;
    background: #fff;
    border-radius: 50%;
    
    
  }
.snow li{
    
    z-index: 2;
    display: block;
    position: absolute;  
    width: 10px;
    height: 10px;
    opacity: 0.8917;
    background: #fff;
    border-radius: 50%;
    animation: snoww 25s infinite;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
.snow li:nth-child(1){
    left: 23px;
    animation-delay: 2s;
}
.snow li:nth-child(2){
    left: 22%;
    animation-delay: 12s;

    
}.snow li:nth-child(3){
    left:  50px;
    animation-delay: 10s;
    
}
.snow li:nth-child(4){
    left:  300px;
    animation-delay: 1s;
    

}
.snow li:nth-child(5){
    left:  550px;

}
.snow li:nth-child(6){
    left:  180px;
    animation-delay: 8s;

}
.snow li:nth-child(7){
    left:  850px;
    animation-delay: 5s;

}
.snow li:nth-child(8){
    left:  450px;
    animation-delay: 15s;

}
.snow li:nth-child(9){
    left:  250px;
    animation-delay: 6s;

}
.snow li:nth-child(10){
    left:  150px;
    animation-delay: 4s;

}
.snow li:nth-child(11){
    left:  250px;
    animation-delay: 10s;

}
.snow li:nth-child(12){
    left:  220px;
    animation-delay: 6s;

}
.snow li:nth-child(13){
    left:  950px;
    animation-delay: 8s;

}
.snow li:nth-child(14){
    left:  1000px;
    animation-delay: 17s;

}
.snow li:nth-child(15){
    left:  1200px;
    animation-delay: 14s;

}
.snow li:nth-child(16){
    left:  1250px;
    animation-delay: 9s;

}
.snow li:nth-child(17){
    left:  1150px;
    animation-delay: 4s;

}
.snow li:nth-child(18){
    left:  750px;
    animation-delay: 8s;

}
.snow li:nth-child(19){
    left:  950px;
    animation-delay: 14s;

}
.snow li:nth-child(20){
    left:  1450px;
    animation-delay: 15s;

}



@keyframes snoww{
    0%   {
        transform: translateY(0);
    }
    55% {
        opacity: 1;
    }
    100% {
        transform: translateY(950px);
        opacity: 0;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');



