@font-face {
    font-family: "Just In The Firestorm"; 
    src: url("../fonts/just_in_the_firestorm.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }
@font-face {
        font-family: "Andala"; 
        src: url("../fonts/Andala.otf") format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
        }
.menu {
    position: fixed;
    left: 0;top: 0;
    z-index: 99;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: 0.5s;
    transform: translateX(-100%);
}
.menu_active {
    transform: translateX(0%);
}
.Tinfo{
    font-family: "Andala";
    padding: 80px; 
}

.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    flex-direction: column;
}
.menu-list a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
}
.menu-btn {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 25%;
    position: absolute;
    right: -35px;
    top: 10px;
}
body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}
h1{
    font-family: "Just In The Firestorm";
}

.intro {
    max-height: 100%;
    width: auto;
    overflow: hidden;
    position: relative;

}
.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.intro__title {
    margin: 0;
    
    font-size: 45px;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}
.Kinfo{
    max-width: 98%;
    display: flex;
   
}
.Ktext{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 250px;
    margin-left: 20px;
    transition: 0.5s;
    background-color: azure;
    align-items: center

}
.Ktext p {
    margin: 18px;
    font-family: "Andala";
    font-size: 80%;
}
.kimg{
    height: 200px;
    width: 200px;
    transition: 0.5s;
}
.kimg_Active{
    height: 300px;
    width: 300px;
    
}
.Ktext_Active{
    height: 600px;
    width: 700px;
}
.Ktext_Active h2{
    margin-bottom: 0;
}
.Ktext_Active p{
    font-size: 150%;
    
}
.page {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.page_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.screen{
    flex: 1 0 100%;
    position: relative;
}
.form_input{
    height: 40px;
    width: 400px;
    margin-right: 25px;
}
.form_div{
    display: flex;
    flex-direction: row;
}
.form_text{
    height: 200px;
    width:  833px;
}
form{
    color: #fff;
}
.Ftext{
    margin-top: 25px;
}
.file_input{
    cursor: pointer;
}
.submit{
    display: flex;
    justify-content: center;
}
.submit input{
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    height: 35px;
    width: 450px;
    background-color: #939ae3;
}
a{
    text-decoration: none;
    color: black;
}